.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container {
    text-align: center;
  }
  
  .icons-row {
    display: flex;
    justify-content: space-around;
    flex-basis: calc(20% - 20px); /* Establece el ancho máximo de cada fila (20% - 20px de espacio entre íconos) */
    margin-bottom: 5px;
  }
  
  .icons-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .icons-line img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-bottom: 5px;
  }

  .icons-line p {
    width: 60px;
    font-size: 10px;
    margin-top: 5px;
  }

  .icons-title {
    display: inline-block; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 100%;
}

  