.helpersTitleHorizontal img {
    border-radius: 15px;
    max-width: 100%;
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 2px solid black;
}