.star-green {
    color: green;
  }
  
  .star-red {
    color: red;
  }
  
  .text-yellow-500 {
    color: yellow;
  }
  
  .text-gray-300 {
    color: #d1d5db; /* Cambia esto según el tono de gris deseado */
  }
  