.jobs-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.jobs-line img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-left: 5px;
 }

.jobs-line p {
  width: 60px;
  font-size: 10px;
  margin-top: 15px;
}

.slick-slide {
  margin: 0 15px;
}

.slick-prev,
.slick-next {
  color: blue !important; /* Cambia el color aquí */
  border: 1px solid black;
}

