.helpersTitle {
    text-align: center;
    border: black 5px outset;
    border-width: 5px;
}

.border-jobs {
    margin-top: -50px;
    border-radius: 15px;
    border: 2px solid black;
    padding-top: 70px;
    margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
    .border-jobs {
        margin-top: -20px;
        padding-top: 50px;
    }
}

@media screen and (min-width: 601px) {
    .background {
        margin-top: -100px;
        border-bottom: 105px;
    }
}