.helpersTitle {
    text-align: center;
    border: black 5px outset;
    border-width: 5px;
}

.border-jobs {
    margin-top: -50px;
    border-radius: 15px;
    border: 2px solid black;
    padding-top: 100px;
}

.background {
    margin-top: -100px;
    border-radius: 15px;
}

