.type-job-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .type-job-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .type-job-container p {
    font-size: 16px;
  }