.jobs-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    list-style: none;
    padding: 0;
}

.card-container {
    width: 100%;
}

.card {
    height: 100%;
}

.image-container {
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
    height: 200px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .image-container {
        height: 150px;
    }
}